@font-face {
    font-family: 'MinecraftCustom';
    src: url('fonts/font.ttf') format('truetype');
}

.minecraft-font {
    font-family: 'MinecraftCustom', sans-serif;
}

*,
*::before,
*::after {
    font-family: 'MinecraftCustom', sans-serif;
}

html,
body {
    background-color: #111827;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    width: 0;
    background: transparent;
}


.gradient-bg {
    background: linear-gradient(135deg, #2a003f 0%, #3b0a59 100%);
}


.pixel-box {
    border: 2px solid #9f7aea;
    box-sizing: border-box;
}


.btn-pixel {
    background-color: #330e6b;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    transition: background-color 0.2s;
    border: none;
    border-radius: 0;
    font-family: 'MinecraftCustom', sans-serif;
    cursor: pointer;
}

.btn-pixel:hover {
    background-color: #9e6fea;
    color: rgb(0, 0, 0);
}

.btn-pixel:active {
    background-color: #3c0e61;
}


.video-container {
    position: relative;
    width: 100vw;
    height: 65vh;
    overflow: hidden;
    background-color: black;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.video-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    z-index: 1;
}

.video-heading {
    position: absolute;
    bottom: 10%;
    width: 100%;
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    z-index: 2;
}


#backToTop {
    background-color: #4c1d95;
    border-radius: 0;
    transition: background-color 0.2s;
}

#backToTop:hover {
    background-color: #6d28d9;
}

.logoheader {
    height: 2vw;
}

.video-overlay-image {
    position: absolute;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    max-width: 100%;
    height: auto;
    pointer-events: none;
}